.cards-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $screen-desktop) {
    justify-content: space-between;
  }
}

.cards-list__item {
  margin-bottom: 178px;

  @media (min-width: $screen-desktop) {
    margin: 0;
  }
}
