.designing {
  width: 100%;
  min-height: 1964px;
  padding-top: 170px;

  background-color: $bg-color--dark;

  @media (min-width: $screen-desktop) {
    min-height: 620px;
    padding-top: 153px;

    background-color: $bg-color--light;
  }
}
