.home-header {
  width: 100%;
  min-height: 57px;
  padding-top: 23px;
  padding-right: 18 / 375 * 100%;
  padding-bottom: 24px;
  padding-left: 18 / 375 * 100%;

  background-color: $bg-color--dark;

  @media (min-width: $screen-desktop) {
    min-height: 83px;
    padding-top: 24px;
    padding-right: 102px;
    padding-bottom: 22px;
    padding-left: 82px;

    background-color: $bg-color--darken;
  }
}
