.nav {
  width: 100%;
  min-height: 83px;
  padding-top: 24px;
  padding-right: 7%;
  padding-bottom: 22px;
  padding-left: 5%;

  background-color: red;
}

.nav__items-wrapper {
  display: flex;
  width: 100%;
  min-height: 37px;

  background-color: green;
}
