.team-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $screen-desktop) {
    justify-content: space-between;
  }
}

.team-list__item {
  padding-left: 35px;

  @media (min-width: $screen-desktop) {
    padding-left: 0;
  }

  &:last-child {
    margin-bottom: 132px;

    @media (min-width: $screen-desktop) {
      margin-bottom: 0;
    }
  }

  &:not(:last-child) {
    margin-bottom: 167px;

    @media (min-width: $screen-desktop) {
      margin-bottom: 0;
    }
  }
}
