.list-of-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 581px;
}

.list-of-pages__page {
  @include setFont($font-family--2, 14px, 16px, 400, left, uppercase, $text-color--light);

  &--active {
    color: $text-color--main;
  }
}
