.photo-slider {
  position: relative;

  width: 100%;
  height: 241px;
}

.photo-slider__img {
  position: absolute;

  width: 100%;
  height: 100%;
}

.photo-slider__btn-slider {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  &--prev {
    left: 14px;
  }

  &--next {
    right: 14px;
  }
}
