.scroll-btn {
  @include centering();

  width: 247px;
  min-height:97px;

  background-color: $bg-color--darken;
  border: 0;

  &:hover,
  &:focus {
    .scroll-btn__text {
      color: complement($text-color--main);
    }

    .scroll-btn__img {
      filter: hue-rotate(180deg);
    }

    outline: none;
  }
}

.scroll-btn__text {
  @include setFont($font-family--3, 14px, 19px, 400, center, uppercase, $text-color--light);

  margin-right: 12px;
}
