.section-title {
  @include setFont($font-family--3, 23px, 30px, 400, center, uppercase, $text-color--main);

  &--light {
    color: $text-color--light;
  }

  &--dark {
    color: $text-color--darkest;
  }

  &--main-color {
    color: $text-color--main;
  }
}
