.title-dashed {
  @include setFont($font-family--3, 27px, 37px, 400, left, uppercase, $text-color--main);

  position: relative;

  width: 160px;

  &::after {
    position: absolute;
    bottom: 18px;
    left: 212px;

    width: 92px;
    height: 1px;

    border: 1px solid $text-color--main;

    content: '';
  }
}
