@mixin centering($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin setFont(
  $family: $font-family--1,
  $size: 18px,
  $lh: 1.2,
  $weight: 400,
  $align: left,
  $transform: lowercase,
  $colour: $text-color--light) {
  font-family: $family;
  font-size: $size;
  line-height: $lh;
  font-weight: $weight;
  text-align: $align;
  text-transform: $transform;
  color: $colour;
}
