// screen
$screen-mobile: 375px;
$screen-desktop: 1440px;

// colors
$text-color--main: #E3B873;
$text-color--light: #FFFFFF;
$text-color--darker: rgba(54, 54, 54, 0.5);
$text-color--dark: #959595;
$text-color--darken: #363636;
$text-color--darkest: #181818;
$text-color--dark-transparent: rgba(255, 255, 255, 0.5);

$bg-color--dark: #252525;
$bg-color--darken: #131313;
$bg-color--light: #FFFFFF;

$btn-bgcolor--main: #E3B873;

// fonts
$font-family--1: "FuturaDemiC","Arial", sans-serif;
$font-family--2: "FuturaBookC", "Arial", sans-serif;
$font-family--3: "Yeseva One", "Georgia", serif;


