html,
body {
  @include setFont($font-family--1);

  box-sizing: border-box;
  max-width: $screen-desktop;
  margin: 0 auto;

  background-color: $bg-color--darken;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: complement($text-color--main);

    outline: none;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
