@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/futurademic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/futurabookc.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/yeseva-one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaMediumC";
  src: url("../assets/fonts/futuramediumc.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/proximanova.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


